body {
  font-family: Arial, sans-serif;
  background-color: #0b0f2a;
  color: #e6e9ff;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
/* CONTENEDOR PRINCIPAL */
.container {
  max-width: 500px;
  padding: 20px;
  background: #12163a;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

h1 {
  text-align: center;
  color: #e6e9ff;
}

/* FORMULARIO */
.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  flex: 1;
  padding: 8px;
  background: #1c214f;
  border: 1px solid rgba(255,255,255,0.08);
  color: #e6e9ff;
  border-radius: 6px;
}

.form input::placeholder {
  color: #aab0ff;
}

.form button {
  padding: 8px 12px;
  cursor: pointer;
  background: #3a4bff;
  color: white;
  border: none;
  border-radius: 6px;
  transition: 0.2s;
}

.form button:hover {
  background: #5a6bff;
}

/* LISTA */
.lista {
  list-style: none;
  padding: 0;
}

/* ITEM */
.lista li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 10px;
  background: #1c214f;
  border-radius: 8px;
  transition: 0.2s;
  border: 1px solid rgba(255,255,255,0.05);
}

.lista li:hover {
  background: #252b66;
}

/* ITEM COMPRADO */
.comprado {
  text-decoration: line-through;
  background-color: #2e7d32 !important;
}

/* CANTIDAD (+ -) */
.cantidad {
  display: flex;
  align-items: center;
  gap: 6px;
}

.cantidad button {
  padding: 2px 8px;
  background: #3a4bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.cantidad button:hover {
  background: #5a6bff;
}

/* ACCIONES */
.acciones button {
  margin-left: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #aab0ff;
  font-size: 16px;
  transition: 0.2s;
}

.acciones button:hover {
  color: #ffffff;
}